div.jumbotron.jumbotron-fluid {
    background-image:url('jumbotron.webp');
    background-repeat: no-repeat;
    background-size: cover;
     height: 480px;
}

.jumbotron .container-fluid {
  margin-top: 100px;
}

#teamControls {
  margin: 30px auto;
  height: auto;
  width: 50%;
}

[class*="col-8"] {
  margin: 0 auto;
}